---
import Layout from "../layouts/Layout.astro";
import { supabase } from "../lib/supabase";
export const prerender = false;

const accessToken = Astro.cookies.get("sb-access-token");
const refreshToken = Astro.cookies.get("sb-refresh-token");

await supabase.auth.setSession({
    refresh_token: refreshToken!.value,
    access_token: accessToken!.value,
});

const {
    data: { user },
} = await supabase.auth.getUser();
let metadata = user?.user_metadata;

const { data: empresas } = await supabase
    .from("empresas")
    .select("nombre, slug");
---

<Layout title="dashboard">
    <h1>Bienvenido {metadata?.first_name}</h1>
    <p>Estamos felices de verte aquí</p>
    <form action="/api/auth/signout">
        <button type="submit">Cerrar sesión</button>
    </form>
    <h1>Selecciona una empresa</h1>
    {
        empresas?.map((empresa) => (
            <a href={`/app/${empresa.slug}`}>{empresa.nombre}</a>
        ))
    }
    <a href="/create-company">+ Crear nueva empresa</a>
</Layout>
