---
import AppLayout from "../layouts/AppLayout.astro";
import { supabase } from "../lib/supabase";
import { EmptyOutline } from "@/components/no-projects";
export const prerender = false;

const accessToken = Astro.cookies.get("sb-access-token");
const refreshToken = Astro.cookies.get("sb-refresh-token");

await supabase.auth.setSession({
    refresh_token: refreshToken!.value,
    access_token: accessToken!.value,
});

const {
    data: { user },
} = await supabase.auth.getUser();
let metadata = user?.user_metadata;

const { data: empresas } = await supabase
    .from("empresas")
    .select("nombre, slug");
---

<AppLayout
    title="dashboard"
    slug=""
    companyName=""
    currentPage="dashboard"
    empresas={empresas ?? []}
    userName={`${metadata?.first_name ?? ""} ${metadata?.last_name ?? ""}`.trim() ||
        user?.email?.split("@")[0] ||
        "Usuario"}
    userEmail={user?.email ?? ""}
>
    <h1>Bienvenido, {metadata?.first_name}</h1>
    {
        // TODO: Implementar lista shadcn
        empresas?.length === 0 ? (
            <EmptyOutline />
        ) : (
            <>
                {empresas?.map((empresa) => (
                    <a href={`/app/${empresa.slug}`}>{empresa.nombre}</a>
                ))}
            </>
        )
    }
</AppLayout>
