---
import { Button } from "@/components/ui/button";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>Por favor, verifica tu correo electrónico</h1>
    <h2>
        Ya casi estás listo para usar tu cuenta. Hemos enviado un correo
        electrónico a <span>email</span>
    </h2>
    <p>
        Solo necesitas hacer clic en el enlace de verificación que hemos enviado
        para activar tu cuenta. Si no lo has recibido, verifica tu carpeta de
        spam o correo no deseado.
    </p>
    <Button>Reenviar correo</Button>
    <Button>Iniciar sesión</Button>
</Layout>
