---
import AppLayout from "../../../layouts/AppLayout.astro";
import { supabase } from "../../../lib/supabase";
export const prerender = false;

const accessToken = Astro.cookies.get("sb-access-token");
const refreshToken = Astro.cookies.get("sb-refresh-token");

await supabase.auth.setSession({
    refresh_token: refreshToken!.value,
    access_token: accessToken!.value,
});

const { data: empresas, error } = await supabase
    .from("empresas")
    .select("nombre, slug")
    .eq("slug", Astro.params.slug);

const empresa = empresas?.[0];
---

<AppLayout
    title={`Gastos - ${empresa?.nombre}`}
    slug={empresa?.slug ?? ""}
    companyName={empresa?.nombre ?? ""}
    currentPage="Gastos"
>
    <h1 class="text-2xl font-bold">Gastos de {empresa?.nombre}</h1>
</AppLayout>
